---
import { MailIcon } from "@heroicons/react/outline/esm/index.js";
import {
  Discord,
  Github,
  Roblox,
  Twitter,
} from "@icons-pack/react-simple-icons";
---

<footer class="grid justify-center w-full px-10 py-8 space-y-8 bg-black">
  <ul
    class="grid md:grid-cols-5 grid-cols-2 gap-2 justify-between w-full h-full gap-x-10"
  >
    <li class="text-center">
      <a
        class="text-white font-bold bg-gradient-to-r from-astral-600 to-astral
      bg-[length:0px_3px]
      bg-left-bottom
      bg-no-repeat
      transition-[background-size]
      motion-reduce:bg-[length:100%_3px]
      motion-reduce:transition-none
      duration-200
      motion-safe:hover:bg-[length:100%_3px]"
        href="/about"
        >About
      </a>
    </li>
    <li class="text-center">
      <a
        class="text-white font-bold bg-gradient-to-r from-astral-600 to-astral
      bg-[length:0px_3px]
      bg-left-bottom
      bg-no-repeat
      transition-[background-size]
      motion-reduce:bg-[length:100%_3px]
      motion-reduce:transition-none
      duration-200
      motion-safe:hover:bg-[length:100%_3px]"
        href="/products"
        >Products
      </a>
    </li>
    <li class="text-center">
      <a
        class="text-white font-bold bg-gradient-to-r from-astral-600 to-astral
      bg-[length:0px_3px]
      bg-left-bottom
      bg-no-repeat
      transition-[background-size]
      motion-reduce:bg-[length:100%_3px]
      motion-reduce:transition-none
      duration-200
      motion-safe:hover:bg-[length:100%_3px]"
        href="https://blog.astralapp.io"
        >Blog
      </a>
    </li>
    <li class="text-center">
      <a
        class="text-white font-bold bg-gradient-to-r from-astral-600 to-astral
      bg-[length:0px_3px]
      bg-left-bottom
      bg-no-repeat
      transition-[background-size]
      motion-reduce:bg-[length:100%_3px]
      motion-reduce:transition-none
      duration-200
      motion-safe:hover:bg-[length:100%_3px]"
        href="https://astral.careers"
        >Jobs
      </a>
    </li>
    <li class="text-center">
      <a
        class="text-white font-bold bg-gradient-to-r from-astral-600 to-astral
      bg-[length:0px_3px]
      bg-left-bottom
      bg-no-repeat
      transition-[background-size]
      motion-reduce:bg-[length:100%_3px]
      motion-reduce:transition-none
      duration-200
      motion-safe:hover:bg-[length:100%_3px]"
        href="https://astral.instatus.com"
      >
        Status
      </a>
    </li>
  </ul>
  <ul class="flex justify-between h-full px-10 gap-x-4">
    <li class="text-center">
      <a
        class="text-white hover:text-astral duration-200 transition-colors"
        title="Join our Discord!"
        href="https://discord.gg/atZWHYv7Y4"
      >
        <Discord className=" w-5 h-5" />
      </a>
    </li>
    <li class="text-center">
      <a
        class="text-white hover:text-astral duration-200 transition-colors"
        title="Join our Roblox Group!"
        href="https://roblox.com/groups/13619939"
      >
        <Roblox className=" w-5 h-5" />
      </a>
    </li>
    <li class="text-center">
      <a
        class="text-white hover:text-astral duration-200 transition-colors"
        title="Visit our GitHub!"
        href="https://github.com/astralservices"
      >
        <Github className=" w-5 h-5" />
      </a>
    </li>
    <li class="text-center">
      <a
        class="text-white hover:text-astral duration-200 transition-colors"
        title="Follow us on Twitter!"
        href="https://twitter.com/astral_bots"
      >
        <Twitter className=" w-5 h-5" />
      </a>
    </li>
    <li class="text-center">
      <a
        class="text-white hover:text-astral duration-200 transition-colors"
        title="Send us an email!"
        href="mailto:support@astralapp.io"
      >
        <MailIcon className=" w-5 h-5" />
      </a>
    </li>
  </ul>
  <div class="flex justify-center w-full">
    <iframe
      src="https://astral.instatus.com/embed-status/dark-sm"
      scrolling="no"
      class="border-none"
      width="230"
      height="41"
      frameborder="0"></iframe>
  </div>
</footer>
