---
import Banner from "./Banner.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<html lang="en" class="h-screen bg-black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <link rel="icon" href="/assets/img/IconMeshed.svg" type="image/x-icon" />

    <title>Astral - Discord Bots</title>

    <script type="text/partytown">
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2766420, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>

  <body>
    <Header />
    <slot />
    <Footer />

    <noscript>
      <img
        src="https://shy.maatt.eu/ingress/5bad3fba-8968-486b-a60c-7e8719ad2c1d/pixel.gif"
      />
    </noscript>
    <script
      defer
      src="https://shy.maatt.eu/ingress/5bad3fba-8968-486b-a60c-7e8719ad2c1d/script.js"
      type="text/partytown"
    >

    </script>
  </body>
</html>
